
<div class="resume-section-content">

    <form method="post">
        <h2 class="mb-5">İletişim</h2>

                <label class="mb-2 form-text">Ad SoyAd</label>
                <input type="text" class="form-control mb-2" name="Adsoyad" />

                <label class="mb-2 form-text">Mail</label>
                <input type="text" class="form-control mb-2" name="Mail" />

                <label class="mb-2 form-text">Konu</label>
                <input type="text" class="form-control mb-2" name="Konu" />

                <label class="mb-2 form-text">Mesaj</label>
                <input type="text" class="form-control mb-2" name="Mesaj" />

                <button class="btn btn-danger mt-3">Gönder</button>
    </form>
</div>