
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test</h2>

<br />

<h1 style="color:aquamarine">Merhaba</h1>

<a href="/Home/Test1" class=" btn btn-primary">Test 1 e git</a>